.card {
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.4);
}
.card--dark {
  background-color: #42405a;
}

.days {
  max-width: 80%;
  margin: 12rem auto 1.6rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}
.days__temperature {
  font-size: 1.2rem;
  font-weight: 500;
}
.days svg {
  color: yellow;
  margin: 1rem 0;
}
.days img {
  width: 100%;
  transform: scale(1.2);
}
.days__day {
  color: #cfcfcf;
}
